name: "Full Sweep Scheduler - 1k8k - AMD MI355 AINIC DI"

on:
    workflow_dispatch:

jobs:
    get-dsr1-configs:
        runs-on: ubuntu-latest
        outputs:
            multi-node-search-space-config: ${{ steps.get-dsr1-configs.outputs.multi-node-search-space-config }}
        steps:
            - name: Checkout code
              uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1

            - id: get-dsr1-configs
              run: |
                  pip install pydantic
                  CONFIG_JSON_MULTI_NODE=$(python3 ${GITHUB_WORKSPACE}/utils/matrix_logic/generate_sweep_configs.py full-sweep --multi-node --seq-lens 1k8k --model-prefix dsr1 --config-files ${GITHUB_WORKSPACE}/.github/configs/amd-master.yaml --runner-config ${GITHUB_WORKSPACE}/.github/configs/runners.yaml)
                  echo "multi-node-search-space-config=$CONFIG_JSON_MULTI_NODE" >> $GITHUB_OUTPUT


    benchmark-dsr1-multi-node:
        needs: get-dsr1-configs
        if: ${{ needs.get-dsr1-configs.outputs.multi-node-search-space-config != '[]' }}
        uses: ./.github/workflows/benchmark-multinode-tmpl.yml
        name: dsr1 1k8k multi-node /
        strategy:
            fail-fast: false
            matrix:
                config: ${{ fromJson(needs.get-dsr1-configs.outputs.multi-node-search-space-config) }}
        secrets: inherit
        with:
            exp-name: "dsr1_1k8k"
            isl: 1024
            osl: 8192
            max-model-len: 9416
            runner: ${{ matrix.config.runner }}
            image: ${{ matrix.config.image }}
            model: ${{ matrix.config.model }}
            model-prefix: ${{ matrix.config.model-prefix }}
            framework: ${{ matrix.config.framework }}
            precision: ${{ matrix.config.precision }}
            conc-list: ${{ toJson(matrix.config.conc) }}
            spec-decoding: ${{ matrix.config.spec-decoding }}
            disagg: ${{ matrix.config.disagg }}

            prefill-num-worker: ${{ matrix.config.prefill.num-worker }}
            prefill-tp: ${{ matrix.config.prefill.tp }}
            prefill-ep: ${{ matrix.config.prefill.ep }}
            prefill-dp-attn: ${{ matrix.config.prefill.dp-attn }}
            prefill-additional-settings: ${{ toJson(matrix.config.prefill.additional-settings) }}

            decode-num-worker: ${{ matrix.config.decode.num-worker }}
            decode-tp: ${{ matrix.config.decode.tp }}
            decode-ep: ${{ matrix.config.decode.ep }}
            decode-dp-attn: ${{ matrix.config.decode.dp-attn }}
            decode-additional-settings: ${{ toJson(matrix.config.decode.additional-settings) }}

    
    collect-dsr1-results:
        needs:
            [
                get-dsr1-configs,
                benchmark-dsr1-multi-node,
            ]
        if: ${{ always() && needs.get-dsr1-configs.result == 'success' }}
        uses: ./.github/workflows/collect-results.yml
        secrets: inherit
        with:
            result-prefix: "dsr1_1k8k"

    

    
